@use 'styles/variable' as var;
@use 'styles/common/mixin/' as mixin;
@use 'styles/common/extend/' as *;
@use 'styles/common/function/' as func;

// align-items
// ---------------------------------------------------------------------------
.alignItems {
    $map: (
        normal: normal,
        stretch: stretch,
        flexstart: flex-start,
        flexend: flex-end,
        center: center,
        baseline: baseline
    );

    @each $key, $val in $map {
        &-#{$key} {
            align-items: $val !important;
        }
    }
}
