@use 'styles/variable' as var;
@use 'styles/common/mixin/' as mixin;
@use 'styles/common/extend/' as *;
@use 'styles/common/function/' as func;

// color
// ---------------------------------------------------------------------------
.color {
    $map: (
        primary: var.$PRIMARY_COLOR,
        secondary: var.$SECONDARY_COLOR,
        lightcolor: var.$COLOR_CHIP_WHITE,
    );

    @each $key, $val in $map {
        &-#{$key} {
            color: $val !important;
        }
    }
}
