@use 'styles/variable' as var;
@use 'styles/common/mixin/' as mixin;
@use 'styles/common/extend/' as *;
@use 'styles/common/function/' as func;

// margin
// ---------------------------------------------------------------------------
.magin {
    $loopStart: 0;
    $loopMax: 5;
    $loopStep: 20;
    $unit: '';

    $ary: top, right, bottom, left;

    @each $val in $ary {
        @for $i from $loopStart through $loopMax {
            $unit: if(($i * $loopStep) > 0, 'px', '');

            &-#{$val}-#{$i * $loopStep} {
                margin-#{$val}: #{$i * $loopStep}#{$unit} !important;
            }
        }
    }
}
