@use 'sass:math';
@use 'styles/variable' as var;
@use 'styles/common/mixin/' as mixin;
@use 'styles/common/extend/' as *;
@use 'styles/common/function/' as func;

// Pgh
// ---------------------------------------------------------------------------
$ary: left, right, center;


.root {
    @include mixin.module-margin;

    &.center {
        text-align: center;
    }
}

// .itm {
// }

.itm + .itm {
    margin-top: 10px;
}
