@use 'sass:math';
@use './strip-unit' as *;

// pxの単位をremに変換
// @param {Number}  $tempSize - 設定したフォントサイズ（単位なし）
// @param {Number}  $tempRoot - ルートのフォントサイズ（単位なし）
// ---------------------------------------------------------------------------
@function px-to-rem(
    $tempSize: 16,
    $tempRoot: 16,
) {
    $size: strip-unit($tempSize);
    $root: strip-unit($tempRoot);

    @return #{math.div($size, $root)}rem;
}
