@use 'sass:math';
@use 'styles/variable' as var;
@use 'styles/common/mixin/' as mixin;
@use 'styles/common/extend/' as *;
@use 'styles/common/function/' as func;

// ヘッダー
// ---------------------------------------------------------------------------
.wrap {
    @extend %structure;

    display: grid;
    grid-area: header;
    grid-template-columns: 1fr minmax(var.$CONTENT_WIDTH_NARROW, var.$CONTENT_WIDTH_WIDE) 1fr;
}

.outer {
    @extend %structure-outer;
}

.inner {
    @extend %structure-inner;
}

// // Wide Viewport
// @include mixin.media-query {
//     .wrap {
//     }

//     .outer {
//     }

//     .inner {
//     }
// }
