@use 'sass:math';
@use 'styles/variable' as var;
@use 'styles/common/mixin/' as mixin;
@use 'styles/common/extend/' as *;
@use 'styles/common/function/' as func;

// ヘッダー
// ---------------------------------------------------------------------------
.root {
    display: inline-block;
    fill: var.$COLOR;
    vertical-align: middle;
    width: 1em;

    &--light {
        fill: var.$COLOR_CHIP_WHITE
    }
}
