extends:
    - stylelint-config-recommended
    - stylelint-config-recommended-scss
plugins:
    - stylelint-scss
    - stylelint-order
customSyntax: postcss-scss
ignoreFiles:
    - node_modules/**
    - public/**
rules:
    # stylelint-order
    order/properties-alphabetical-order: true
    # stylelint-scss(Override)
    scss/comment-no-empty: null

    function-no-unknown: null
    linebreaks: unix # unix(LF)|windows(CRLF)
