@use 'sass:math';
@use 'styles/variable' as var;
@use 'styles/common/mixin/' as mixin;
@use 'styles/common/extend/' as *;
@use 'styles/common/function/' as func;

// HdgLv3
// ---------------------------------------------------------------------------
.root {
    @include mixin.module-margin;

    background-color: #ccc;
    border-left: 10px solid #f00;
}

.hdg {
    padding: 10px 20px;
}

.title {
    display: block;
    font-size: func.px-to-rem(20);

    // Wide Viewport
    @include mixin.media-query {
        font-size: func.px-to-rem(26);
    }
}
