@use 'sass:math';
@use 'styles/variable' as var;
@use 'styles/common/mixin/' as mixin;
@use 'styles/common/extend/' as *;
@use 'styles/common/function/' as func;

// HdgLv4
// ---------------------------------------------------------------------------
.root {
    @include mixin.module-margin;

    border-bottom: 2px solid #f00;
    padding-bottom: 10px;
    position: relative;
}

// .hdg {
// }

.title {
    display: block;
    font-size: func.px-to-rem(18);

    // Wide Viewport
    @include mixin.media-query {
        font-size: func.px-to-rem(22);
    }
}
