@use '../../variable' as *;


// box-shadowプロパティを設定
// @param {Number} $depth - シャドウの深さ
// ---------------------------------------------------------------------------
@mixin box-shadow(
    $depth: 1,
) {
    @if ($depth == 0) {
        box-shadow: none;
    } @else if ($depth == 1) {
        box-shadow: 0 1px 3px rgba($COLOR_CHIP_BLACK, .12), 0 1px 2px rgba($COLOR_CHIP_BLACK, .24);
    } @else if ($depth == 2) {
        box-shadow: 0 14px 28px rgba($COLOR_CHIP_BLACK, .25), 0 10px 10px rgba($COLOR_CHIP_BLACK, .22);
    } @else if ($depth == 3) {
        box-shadow: 0 3px 6px rgba($COLOR_CHIP_BLACK, .16), 0 3px 6px rgba($COLOR_CHIP_BLACK, .23);
    } @else if ($depth == 4) {
        box-shadow: 0 14px 28px rgba($COLOR_CHIP_BLACK, .25), 0 10px 10px rgba($COLOR_CHIP_BLACK, .22);
    } @else if ($depth == 5) {
        box-shadow: 0 19px 38px rgba($COLOR_CHIP_BLACK, .30), 0 15px 12px rgba($COLOR_CHIP_BLACK, .22);
    }
}
