@use '../../variable' as *;

// メディアクエリを設定
// @param {String} $range          - メディアクエリのサポート範囲（below | above | between）
// @param {Number} $breakpoint     - ブレークポイント（単位つき）
// @param {Number} $breakpoint-min - $range: betweenの際のブレークポイントの下限（単位つき）
// @param {Number} $breakpoint-max - $range: betweenの際のブレークポイントの上限（単位つき）
// ---------------------------------------------------------------------------
@mixin media-query(
    $range:            above,
    $breakpoint:       $MAJOR_BREAKPOINT,
    $breakpoint-min:   null,
    $breakpoint-max:   null
) {
    @if $range == below {
        // Narrow Viewport
        @media (max-width: ($breakpoint - 1px)) {
            @content;
        }
    } @else if $range == above {
        // Wide Viewport
        @media screen and (min-width: $breakpoint) {
            @content;
        }
    } @else if $range == between {
        // between Wide Viewport and Narrow Viewport
        @media (min-width: $breakpoint-min) and (max-width: ($breakpoint-max - 1px)) {
            @content;
        }
    }
}
