@use './variable' as var;
@use './common/mixin/' as mixin;
@use './common/extend/' as *;
@use './common/function/' as func;

// Base
// ---------------------------------------------------------------------------
* {
    &,
    &::before,
    &::after {
        box-sizing: border-box;
    }
}


// Margin, Padding Reset
// ---------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
dl,
dt,
dd,
button {
    margin: 0;
    padding: 0;
}


// Border Reset
// ---------------------------------------------
img,
button {
    border: 0;
}


// The document element
// ---------------------------------------------
html {
    height: 100%;
    scroll-behavior: smooth;
}


// Sections
// ---------------------------------------------
body {
    @extend %reset-margin;
    background-color: var.$BACKGROUND_COLOR;
    color: var.$COLOR;
    font-family: var.$FONT_FAMILY;
    font-size: func.px-to-rem(var.$FONT_SIZE_NARROW);
    height: 100%;
    line-height: var.$LINE_HEIGHT_NARROW;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {
    font-size: func.px-to-rem(40);
}

h2 {
    font-size: func.px-to-rem(32);
}

h3 {
    font-size: func.px-to-rem(28);
}

h4 {
    font-size: func.px-to-rem(24);
}

h5 {
    font-size: func.px-to-rem(20);
}

h6 {
    font-size: func.px-to-rem(16);
}


// Wide Viewport
@include mixin.media-query {
    body {
        font-size: func.px-to-rem(var.$FONT_SIZE_WIDE);
        line-height: var.$LINE_HEIGHT_WIDE;
    }
}


// Grouping content
// ---------------------------------------------
// ul,
// ol,
// dl {
// }

li
dt,
dd {
    list-style: none;
}


// Text-level semantics
// ---------------------------------------------
em,
strong,
b {
    font-style: normal;
    font-weight: bolder;
}

em {
    color: var.$COLOR_CHIP_3;
}

strong {
    color: var.$COLOR_CHIP_4;
}

sub,
sup {
    bottom: -.2em;
    font-size: 50%;
}


// Links
// ---------------------------------------------
// a {
// }


// Embedded content
// ---------------------------------------------
img,
svg {
    height: auto;
    max-width: 100%;
    width: auto;
}

a {
    img {
        pointer-events: none;
    }
}


// Tabular data
// ---------------------------------------------
table {
    border-collapse: collapse;
    table-layout: fixed;
}

th {
    font-weight: 600;
    text-align: left;
}


// Forms
// ---------------------------------------------
label {
    cursor: pointer;
}

input,
button,
select,
textarea,
[role='button'] {
    border-radius: 0;
    color: inherit;
    font-size: func.px-to-rem(16);
    line-height: inherit;
    max-width: 100%;

    &[disabled] {
        cursor: not-allowed;
    }
}

input {
    &[type='hidden'] {
        display: none;
    }

    &::-ms-clear {
        visibility: hidden;
    }
}

select {
    &::-ms-expand {
        display: none;
    }
}

textarea {
    overflow-x: hidden; // IE
    overflow-y: auto;   // IE
    resize: vertical;
}

button {
    cursor: pointer;
}


// Interactive elements
// ---------------------------------------------
// details {
//     &[open] {
//     }
// }

summary {
    list-style: none;
}


// Scripting
// ---------------------------------------------
noscript {
    display: none;
}
