// Variable
// ---------------------------------------------------------------------------
// ウィンドウ幅がコンテンツ幅以下時の左右の余白（margin）
// ---------------------------------------------

// ブレークポイント未満
$CONTENT_INNER_GUTTER_X_NARROW: 24px;

// ブレークポイント以上
$CONTENT_INNER_GUTTER_X_WIDE: 80px;


// 全汎用モジュール共通の余白（margin-top）
// ---------------------------------------------

// ブレークポイント未満
$MOD_GUTTER_NARROW: 40px;

// ブレークポイント以上
$MOD_GUTTER_WIDE: 64px;


// メディアクエリ関係
// ---------------------------------------------

$MAJOR_BREAKPOINT: 768px;  // メジャーブレークポイント
$MINOR_BREAKPOINT: 1220px; // マイナーブレークポイント

$CONTENT_WIDTH_NARROW: 300px - ($CONTENT_INNER_GUTTER_X_NARROW * 2); // 最小ビューポート幅
$CONTENT_WIDTH_WIDE: $MINOR_BREAKPOINT;                              // 最大ビューポート幅


// カラーチップ
// ---------------------------------------------

$COLOR_CHIP_WHITE: #FFF; // 汎用的な白
$COLOR_CHIP_BLACK: #000; // 汎用的な黒

$COLOR_CHIP:   #67A9CF;         // プライマリカラーとして使用
$COLOR_CHIP_2: #EF93A8;         // セカンダリカラーとして使用
$COLOR_CHIP_3: $COLOR_CHIP_BLACK; // 強調カラーとして使用
$COLOR_CHIP_4: #F00;            // 重要カラーとして使用
$COLOR_CHIP_5: #C8C8C8;         // 汎用的な罫線カラーとして使用
$COLOR_CHIP_6: #72C9E9;         // ボタンカラーとして使用
$COLOR_CHIP_7: #F3F8FC;         // 汎用的な背景カラーとして使用（淡）
$COLOR_CHIP_8: #E0EEF6;         // 汎用的な背景カラーとして使用（濃）
$COLOR_CHIP_9: #FCE9EE;         // 汎用的な背景カラーとして使用（淡）

// プライマリカラー
// ---------------------------------------------

$PRIMARY_COLOR: $COLOR_CHIP;


// セカンダリカラー
// ---------------------------------------------

$SECONDARY_COLOR: $COLOR_CHIP_2;


// background-colorプロパティ
// ---------------------------------------------

$BACKGROUND_COLOR: $COLOR_CHIP_WHITE;
$BACKGROUND_COLOR_2: $COLOR_CHIP_6; // ボタンカラーとして使用
$BACKGROUND_COLOR_3: $COLOR_CHIP_7; // 汎用的な背景カラーとして使用（淡）
$BACKGROUND_COLOR_4: $COLOR_CHIP_8; // 汎用的な背景カラーとして使用（濃）
$BACKGROUND_COLOR_5: $COLOR_CHIP_9; // 汎用的な背景カラーとして使用（淡）


// border-colorプロパティ
// ---------------------------------------------

$BORDER_COLOR: $COLOR_CHIP_5; // 汎用的な罫線カラーとして使用


// BORDER_RADIUSプロパティ
// ---------------------------------------------

// $BORDER_RADIUS: 4px;


// font-familyプロパティ
// ---------------------------------------------

// ゴシック系（和文）
$FONT_FAMILY_SANS_JPN:
    NotoSansJP,
    '游ゴシック体',
    'Yu Gothic',
    YuGothic,
    'ヒラギノ角ゴ Pro',
    'Hiragino Kaku Gothic Pro',
    'メイリオ',
    Meiryo,
    sans-serif;

// 明朝系（和文）
$FONT_FAMILY_SERIF_JPN:
    '游明朝体',
    'Yu Mincho',
    YuMincho,
    'ヒラギノ明朝 Pro',
    'Hiragino Mincho Pro',
    sans-serif;

$FONT_FAMILY: $FONT_FAMILY_SANS_JPN;


// font-sizeプロパティ
// ---------------------------------------------

// ブレークポイント未満
$FONT_SIZE_NARROW: 16;

// ブレークポイント以上
$FONT_SIZE_WIDE: 20;


// font-sizeプロパティ（注釈モジュール）
// ---------------------------------------------

// ブレークポイント未満
$FONT_SIZE_NOTE_NARROW: 14;

// ブレークポイント以上
$FONT_SIZE_NOTE_WIDE: 14;


// line-heightプロパティ
// ---------------------------------------------

// ブレークポイント未満
$LINE_HEIGHT_NARROW: 1.75;

// ブレークポイント以上
$LINE_HEIGHT_WIDE: 1.75;


// colorプロパティ
// ---------------------------------------------

$COLOR: #333;


// opacityプロパティ
// ---------------------------------------------

$OPACITY: .5;


// box-shadowプロパティ
// ---------------------------------------------

$BOX_SHADOW: 0 5px 6px rgba(125, 125, 125, .2);


// background-image プロパティ（linear-gradient）
// ---------------------------------------------

// $LINER_GRADIENT: linear-gradient($SECONDARY_COLOR_2, $PRIMARY_COLOR);
// $LINER_GRADIENT_2: linear-gradient(to right, $SECONDARY_COLOR_2, $PRIMARY_COLOR);


// transitionプロパティ
// ---------------------------------------------

$TRANSITION_DURATION: .5s; // 汎用的に使用
$TRANSITION_TIMING_FUNCTION: cubic-bezier(.25, .8, .25, 1); // 汎用的に使用
